body {
	font-family: 'Roboto', sans-serif;
}

.nav-link {
	color: #FFC000 !important;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
}

.nav-link:hover {
	color: rgb(0, 41, 223) !important;;
}

.navbar li {
	padding-right: 20px;
}

h1 {
	font-weight: 900;
	font-size: 44px;
	line-height: 158%
}

.navbar .btn {
	border-radius: 100px;
	width: 120px;
	background: linear-gradient(237.65deg, #FFC000 1.55%, #FF8A00 95.8%);
	border-color:#FFC000; 
}

.jumbotron {
	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 642px;
	color: white;
}

.jumbotron .btn {
	border-radius: 100px;
	font-size: 14px;
	height: 56px;
	width: 160px;
	line-height: 16px;
	border-color: #FFF7DF;
	font-weight: bold;
	background: none;
	/* background: #FFF7DF; */
	color: #FFF7DF;
}

.jumbotron .btn:hover {
	color: #FFC000;
	background: white;
}